<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Expense Tracker</title>

    <!-- My Custom Global CSS -->
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
  </head>
  <body>
    <main role="main" class="page-main">@RenderBody()</main>

    <!-- My Custom Global JS -->
    <script src="~/js/site.js" asp-append-version="true"></script>
  </body>
</html>
