<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <title>Sharepost - @ViewData["Title"]</title>

    <meta name="description" content="Sharepost is a place where you can share content with the community in the form of post and interact with users in its comments" />
    <meta name="keywords" content="Share, Posts, Community" />
    <meta name="author" content="Pedro Frohmut (Aykham)" />
    <meta name="robots" content="index, follow" />

    <!-- Copyrights -->
    <meta name="copyright" content="Copyright &copy; 2024 Pedro Frohmut (Aykham)" />

    <!-- My Custom CSS -->
    <link href="~/css/main.css" rel="stylesheet" />

    <!-- Font Inter -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300..700&display=swap" rel="stylesheet">
  </head>
  <body>

    <!-- Header and Navbar -->
    <aside>
      <h1>Shareposts</h1>
      <nav>
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/About">About</a>
          </li>

          <!-- User -->
          <li>
            <a href="/Users/SignIn">Sign In</a>
          </li>
          <li>
            <a href="/Users/SignUp">Sign Up</a>
          </li>
          <li>
            <a href="/Users/SignOut">Sign Out</a>
          </li>

          <!-- Posts -->
          <li>
            <a href="/Posts/Show/123">Show Post 123</a>
          </li>
          <li>
            <a href="/Posts/Add">Add Post</a>
          </li>
          <li>
            <a href="/Posts/Edit/123">Edit Post</a>
          </li>
        </ul>
      </nav>
    </aside>

    <!-- Insert Messages Partial -->
    @await Html.PartialAsync("~/Views/Shared/_MessagesPartial.cshtml")

    <main>@RenderBody()</main>

    <!-- My Custom Scripts -->
    <script src="~/js/main.js"></script>
  </body>
</html>
