<!doctype html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device=width; initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Supermarket Managment</title>
    <link href="~/css/style.css" rel="stylesheet" asp-append-version="true" />
  </head>
  <body>

    <header>
      <div class="page-container">
        This is My Header
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/categories">Categories</a>
          </li>
        </ul>
      </div>
    </header>

    <div class="page-container">
      <section>@RenderSection("title", false)</section>
      <main>@RenderBody()</main>
    </div>

  </body>
</html>
