@{
  string? userId = Context.Session.GetString("authUserId");
}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Todos MVC</title>

    <!-- My Custom CSS -->
    <link href="~/css/style.css" rel="stylesheet" />

    <!-- Font Inter -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300..700&display=swap" rel="stylesheet">
  </head>
  <body>

    <header>
      <span class="logo">TodosMvc</span>
      <nav>
        <ul>
          @if (! string.IsNullOrWhiteSpace(userId)) {
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="/signout">SignOut</a>
            </li>
          } else {
            <li>
              <a href="/signup">SignUp</a>
            </li>
            <li>
              <a href="/signin">SignIn</a>
            </li>
          }
          <li>
            <a href="/about">About</a>
          </li>
        </ul>
      </nav>
    </header>

    <main>@RenderBody()</main>

    <script src="~/js/main.js"></script>
  </body>
</html>
