@{
  string? userId = @Context.Session.GetString("authUserId");
}
@{
  List<string> goals = null;
}

<div class="page-container">

  <!-- Heading -->
  <section class="heading">
    <h1 class="page-title">TodosMVC - Home Page</h1>
    <p>Goals dashboard - manage your goals here</p>
  </section>


  @if (string.IsNullOrWhiteSpace(userId))
  {
    <p>User is not logged in</p>
    <p>Please log in to see and create your goals</p>
    <a href="/signin">Log In</a>
  }
  else
  {
    <div class="section add-form">
      <form class="add-form" action="/goals/add" method="post">
        <input name="content" class="form-text" type="text" placeholder="Your goal content here" />
        <button class="btn">Submit</button>
      </form>
    </div>

    <section class="goals-list">
      <h2 class="goals-title">Goals</h2>

      @if (goals == null)
      {
        <p>No goals to display</p>
      }
      else
      {
        <div class="goals-container">
          @foreach (var goal in goals)
          {
            <div class="goal-item">
              <div class="content">@goal</div>
              <form>
                <button class="btn">Delete</button>
              </form>
            </div>
          }
        </div>
      }
    </section>
  }
</div>
