@{
  ViewData["Title"] = "Add Post";
}
<div class="page-container-small">
  <div class="page-header">
    <h1>Add Post</h1>
    <p>Fill up the title and the content of your next post</p>
  </div>

  <form method="POST" action="/Posts/Add" class="form">
    <!-- Title -->
    <div class="form-group">
      <label>Title</label>
      <input name="title" type="text" class="form-input" />
    </div>

    <!-- Body -->
    <div class="form-group">
      <label>Content</label>
      <textarea name="body" cols="30" rows="10"></textarea>
    </div>

    <button class="btn btn-primary">Submit New Post</button>
  </form>
</div>
