:root {
    --border-radius: 5px;

    --clr-neutral-200: #323232;
    --clr-neutral-700: #cbcbcb;
    --clr-neutral-800: #d5d5d5;
    --clr-neutral-900: #e3e3e3;

    /* Font Sizes */
    --fs-extra-small: 0.7rem;
    --fs-small: 0.85rem;
    --fs-regular: 1.0rem;
    --fs-large: 1.15rem;
    --fs-extra-large: 1.3rem;
}

/* General Rules */

*, *::after, *::before {
    font-size: inherit;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

button {
    font-size: var(--fs-regular);
    padding: 0.3em 1.0em;
    border-radius: var(--border-radius);
    border: 1px solid var(--clr-neutral-700);
    background-color: var(--clr-neutral-200);
    color: var(--clr-neutral-800);
    cursor: pointer;
}

/* Page Styles */

.page-header {
    padding: 1rem 0;
    display: flex;
    align-items: center;
    gap: 4em;
    font-size: var(--fs-large);
}

.page-header__nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2em;
    list-style: none;
}

.page-container {
    width: min(calc(100vw - 2rem), 800px);
    margin-inline: auto;
}

.page-title {
    font-size: var(--fs-extra-large);
    margin-top: 1rem;
    margin-bottom: 2rem;
}

/* Post Container at Index Page */

.post-list-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.post-container {
    padding: 0.5rem;
    max-width: 500px;
    border-radius: 5px;
    box-shadow: 0px 2px 12px 1px #ccc;
}

.post-container__header,
.post-container__body {
    padding: 0.4rem;
}

.post-container__header {
    border-bottom: 1px solid #ccc;
}

.post-container__title {
    color: #444;
    font-weight: 600;
}

.post-container__author {
    color: #888;
}

.post-container__date {
    color: #888;
}

.post-container__body {
    font-size: var(--fs-regular);
}
